/* Page layout */
* {
    margin: 0; padding: 0;
}
html, body {
    height: 100%;
}
header {
    height: 30px;
}
main {
    height: calc(100% - 30px);
}
.top_section, .bottom_section {
    height: 50%;
}


/* Page style */
body {
    background-color: #eadbc4;
}


/* Tabs style */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    width: 25%;
    height: 30px;
}

.tablink:hover {
    background-color: #777;
}

.tablink.active {
    background-color: rgb(255, 152, 16);
}

.tabcontent {
    display: none;
}

.tabcontent_default {
    display: inline;
}


/* Table layout */
.table-container {
    height: 100%;
}
.table-container table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.table-container table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 1.2em);
}
.table-container table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}
.table-container table tbody tr {
    width: 100%;
}
.table-container table thead,
.table-container table tbody tr {
    display: table;
    table-layout: fixed;
}


/* Table style */
.table-container table {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    background: #b3a48d;;
    color: #5b4421;
}

.table-container table td, table th {
    padding: 0.2em;
}

.table-container table td {
    text-align: right;
}

.table-container tr:nth-child(odd) td {
	background: #dfc7a0;
}

.table-container tr:nth-child(even) td {
	background: #ccba9e;
}

.table-container table td:first-child {
    text-align: center;
    font-weight: bold;
    background: #b3a48d;
}


/* Chart style */
.nv-axis text {
    fill: rgba(0,0,0,.4);
}

.nv-axis .tick line {
    stroke: rgba(0,0,0,.15);
    stroke-dasharray: 2,2;
}
