<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>HTML Tables</title>

    <style>
{{{ html_style }}}
    </style>
 
    <script type="text/javascript">
{{{ html_script }}}
    </script>

</head>

<body>

    {{> area_chart area_chart1 }}

    {{> table table_months }}

</body>

</html>