<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ledger Reports</title>

    <style>
{{{ html_style }}}
    </style>
 
    <script type="text/javascript">
{{{ html_script }}}
    </script>

</head>

<body>

    <header>
        <button class="tablink" onclick="openPage('Summary', this)" id="defaultOpen">Summary</button>
        <button class="tablink" onclick="openPage('Assets', this)">Assets</button>
        <button class="tablink" onclick="openPage('Expenses', this)">Expenses</button>
    </header>

    <main>

        <div id="Summary" class="tabcontent_default">
            <section class="top_section">
                {{> tree summary_tree }}
            </section>
        </div>

        <div id="Assets" class="tabcontent">
            <section class="top_section">
                {{> area_chart assets_chart }}
            </section>
            <section class="bottom_section">
                {{> table assets_table }}
            </section>
        </div>

        <div id="Expenses" class="tabcontent">
            <section class="top_section">
                {{> area_chart expenses_chart }}
            </section>
            <section class="bottom_section">
                {{> table assets_table }}
            </section>
        </div>

    </main>

</body>

</html>