<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ledger Reports</title>

    <style>
{{{ html_style }}}
    </style>
 
    <script type="text/javascript">
{{{ html_script }}}
    </script>

</head>

<body>

    <header>
        <center>Ledger Reports</center>
    </header>

    <main>

        <section class="top_section">

            {{> area_chart area_chart1 }}

        </section>

        <section class="bottom_section">

            {{> table table_months }}

        </section>

    </main>

</body>

</html>